body {
	font-family: sans-serif;
	margin: 0;
}

input {
	width: 7em;
}

img {
	width: 2ex;
}

#menu {
	position: sticky;
	border-bottom: 1px solid black;
	padding: 8px;
	background: #fff;
	z-index: 1;
}

#container {
	display: grid;
	position: relative;
	margin: 8px
}

#container > fieldset {
	grid-area: 1/1;
	width: max-content;
	height: max-content;
	background: #fff;
}

#container div {
	clear: both;
	min-height: 1.5ex;
}

#container div:first-of-type {
	font-weight: bold;
	text-align: center;
}

#container span:first-child, #container label:first-child {
	margin-left: 3ex;
}

#container img:not(:first-child), label input, label select {
	float: right;
	margin-left: 1ex;
}

#container img:first-child {
	float: left;
	margin-right: 1ex;
}

#container > svg {
	grid-area: 1/1;
	height: 100%;
	width: 100%;
	z-index: 1;
	pointer-events: none;
}

#container > svg * {
	fill: none;
	stroke: #000;
	stroke-width: 2;
	stroke-linecap: round;
}

#container:not(.connect) > svg * {
	pointer-events: auto;
}

#log > p {
	color: #f00;
}
